<div class="fh5co-loader"></div>

<div id="page">
    <div id="fh5co-aside" style="height:700px !important;background-image: url(/static/frontend/images/background-detailv2_gaitubao_com_1030x687.jpg)" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        {{/*<nav role="navigation">*/}}
            {{/*<ul>*/}}
                {{/*<li><a href="index.html"><i class="icon-home"></i></a></li>*/}}
            {{/*</ul>*/}}
        {{/*</nav>*/}}
        <div class="page-title">
            <img src="/static/frontend/images/head.jpg" alt="Free HTML5 by FreeHTMl5.co">
            <span>{{.created_at}}</span>
            <h2>{{.title}}</h2>
        </div>
    </div>
    <div id="fh5co-main-content">
        <div class="fh5co-post">
            <div id="test-editormd-view" class="fh5co-entry padding">
                <textarea style="display:none;" placeholder="markdown语言">{{.content}}</textarea>
            </div>
        </div>
    </div>
</div>

<div class="fh5co-navigation">
    <div class="fh5co-cover prev fh5co-cover-sm" style="background-image: url(/static/frontend/images/background-left_gaitubao_com_1025x683.jpg)">
        <div class="overlay"></div>

        <a class="copy" href="#">
            <div class="display-t">
                <div class="display-tc">
                    <div>
                        <span>Previous Post</span>
                        <h2>How to be an affective web developer</h2>
                    </div>
                </div>
            </div>
        </a>

    </div>
    <div class="fh5co-cover next fh5co-cover-sm" style="background-image: url(/static/frontend/images/background-right_gaitubao_com_1074x716.jpg)">
        <div class="overlay"></div>
        <a class="copy" href="#">
            <div class="display-t">
                <div class="display-tc">
                    <div>
                        <span>Next Post</span>
                        <h2>How to be an affective web developer</h2>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>

{{/*<footer>*/}}
    {{/*<div>*/}}
        {{/*&copy; 2016 Free HTML5. All Rights Reserved. Designed by <a href="" target="_blank">FreeHTML5</a>*/}}
    {{/*</div>*/}}
{{/*</footer>*/}}

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
<script src="http://pandao.github.io/editor.md/lib/marked.min.js"></script>
<script src="http://pandao.github.io/editor.md/lib/prettify.min.js"></script>
<script src="http://pandao.github.io/editor.md/lib/raphael.min.js"></script>
<script src="http://pandao.github.io/editor.md/lib/underscore.min.js"></script>
<script src="http://pandao.github.io/editor.md/lib/sequence-diagram.min.js"></script>
<script src="http://pandao.github.io/editor.md/lib/flowchart.min.js"></script>
<script src="http://pandao.github.io/editor.md/lib/jquery.flowchart.min.js"></script>
<script src="http://pandao.github.io/editor.md/editormd.js"></script>
<script>
    $(function(){
        testEditormdView2 = editormd.markdownToHTML("test-editormd-view", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });

    })
</script>
