<style>
    .read-more {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 100%;
        margin-bottom: 0px;
        background: #ffffff;
        text-align: center;
        font-size: 12px;
        color: #000000;
    }
    .read-more:hover{
        text-decoration: underline;
    }
    .nav-list li.first{
        margin-bottom: 8px !important;
    }
    #category-btn{
        position: relative;
    }
    .category-items{
        width: 400px;
        overflow: hidden;
    }
    .category-items li{
        float: left;
        width: 120px;
        background: #cccccc;
        text-align: center;
        line-height: 28px;
        font-size: 14px;
        padding: 0px 10px !important;
        margin-left: 1px !important;
        margin-bottom: 2px !important;
    }
    .category-father{
        position: relative;
    }
    .category-items{
        position: absolute;
        top: 6px;
        left: 34px;
        cursor: pointer;
        display: none;
    }
    .category-items li:hover{
        background: black;
        color: #ffffff;
    }
    .padding{
        padding: 30px 50px !important;
    }
</style>
<div class="fh5co-loader" style="display: none;"></div>
<div id="page">
    <div id="fh5co-aside" style="background-image: url(/static/frontend/images/background-image_gaitubao_com_727x1090.jpg)">
        <div class="overlay"></div>
        <nav role="navigation">
            <ul class="nav-list">
                <li class="first"><a href="index.html"><i class="icon-home"></i></a></li>
                <li class="first category-father">
                    <a id="category-btn" data-value="1" href="javascript:;"><i class="icon-ribbon"></i></a>
                    <ul class="category-items">
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="featured">
            <span>Hi~</span>
            <h2>I'm Cookie Cat</h2>
        </div>
    </div>
    <div id="fh5co-main-content">
        <div class="fh5co-post" id="content_warp"></div>
        <footer  class="foot-warp" style="padding: 1px 0px !important;">
            <a href="javascript:;" class="read-more" style="text-decoration: underline;">
                点击查看更多
            </a>
        </footer>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
<script>
    $(function(){

        $.ajax({
            url: "/open/categorys",
            method: "get",
            success: function (json) {
                if(json.Code == 200){
                    for(var key in json.Data){
                        var html = "<li class='category-seach-btn' data-href='/open/articles?page=1&size=10&key=category_id&value="+json.Data[key]['Id']+"' data-value='"+json.Data[key]['Id']+"'>"+json.Data[key]['Name']+"</li>"
                        $('.category-items').append(html)
                    }
                }
            }
        });

        $('.category-items').bind('click','.category-seach-btn',function(evt){
            $.ajax({
                url: $(evt.target).attr('data-href'),
                method: "get",
                success: function (json) {
                    $("#content_warp").html("")
                    $('.fh5co-loader').css({"display":"block"})
                    if(json.Code == 200){
                        if( json.Data['articles'] == null ){
                            $('.foot-warp').css({"display":"none"})
                        }else{
                            $('.foot-warp').css({"display":"block"})
                        }
                        $('.read-more').attr("data-href", json.Data['uriFormatModal'])
                        for(var key in json.Data['articles']){
                            var html = '            <div class="fh5co-entry padding">\n' +
                                    '                <div>\n' +
                                    '                    <span class="fh5co-post-date">'+json.Data['articles'][key]['Created_at']+'</span>\n' +
                                    '                    <h2><a href="/frontend/detail?article_id='+json.Data['articles'][key]['Id']+'">'+json.Data['articles'][key]['Title']+'</a></h2>\n' +
                                    '                    <p>'+json.Data['articles'][key]['Describe']+'</p>\n' +
                                    '                </div>\n' +
                                    '            </div>'
                            $("#content_warp").append(html)
                        }
                    }
                    setTimeout(function(){
                        $('.fh5co-loader').css({"display":"none"})
                    },200)
                }
            });
        })

        $('.read-more').on('click', function(){
            $('.fh5co-loader').css({"display":"block"})
            if( $(this).attr('data-href') == "no-more" ) {
                setTimeout(function(){
                    $('.fh5co-loader').css({"display":"none"})
                },200)
                return false
            }
            $.ajax({
                url: $(this).attr('data-href'),
                method: "get",
                success: function (json) {
                    if(json.Code == 200){
                        if( json.Data['articles'] == null ){
                            $('.foot-warp').css({"display":"none"})
                        }else{
                            $('.foot-warp').css({"display":"block"})
                        }
                        $('.read-more').attr("data-href", json.Data['uriFormatModal'])
                        for(var key in json.Data['articles']){
                            var html = '            <div class="fh5co-entry padding">\n' +
                                    '                <div>\n' +
                                    '                    <span class="fh5co-post-date">'+json.Data['articles'][key]['Created_at']+'</span>\n' +
                                    '                    <h2><a href="/frontend/detail?article_id='+json.Data['articles'][key]['Id']+'">'+json.Data['articles'][key]['Title']+'</a></h2>\n' +
                                    '                    <p>'+json.Data['articles'][key]['Describe']+'</p>\n' +
                                    '                </div>\n' +
                                    '            </div>'
                            $("#content_warp").append(html)
                        }
                    }
                    setTimeout(function(){
                        $('.fh5co-loader').css({"display":"none"})
                    },200)
                }
            });
            setTimeout(function(){
                $('.fh5co-loader').css({"display":"none"})
            },200)
        })

        $.ajax({
            url: "/open/articles",
            method: "get",
            success: function (json) {
                $('.fh5co-loader').css({"display":"block"})
                if(json.Code == 200){
                    if( json.Data['articles'] == null ){
                        $('.foot-warp').css({"display":"none"})
                    }else{
                        $('.foot-warp').css({"display":"block"})
                    }
                    $('.read-more').attr("data-href", json.Data['uriFormatModal'])
                    for(var key in json.Data['articles']){
                        var html = '            <div class="fh5co-entry padding">\n' +
                                '                <div>\n' +
                                '                    <span class="fh5co-post-date">'+json.Data['articles'][key]['Created_at']+'</span>\n' +
                                '                    <h2><a target="_blank" href="/frontend/detail?article_id='+json.Data['articles'][key]['Id']+'">'+json.Data['articles'][key]['Title']+'</a></h2>\n' +
                                '                    <p>'+json.Data['articles'][key]['Describe']+'</p>\n' +
                                '                </div>\n' +
                                '            </div>'
                        $("#content_warp").append(html)
                    }
                }
                setTimeout(function(){
                    $('.fh5co-loader').css({"display":"none"})
                },200)
            }
        });


        $('#category-btn').on('click',function(){
            if($(this).attr('data-value') == 1){
                $(this).attr("data-value",0)
                $('.category-items').css("display","block");
                $('#category-btn').css({color: "#000",
                    background: "white"})
            }else{
                $(this).attr("data-value",1)
                $('.category-items').css("display","none");
                $('#category-btn').css({background: "rgba(255, 255, 255, 0.1)",color:"rgba(255, 255, 255, 0.5)"})
            }
        })
    })

</script>