<style>
    .read-more {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 100%;
        margin-bottom: 0px;
        background: #ffffff;
        text-align: center;
        font-size: 12px;
        color: #000000;
    }
    .read-more:hover{
        text-decoration: underline;
    }
    .nav-list li.first{
        margin-bottom: 8px !important;
    }
    #category-btn{
        position: relative;
    }
    .category-items{
        width: 400px;
        overflow: hidden;
    }
    .category-items li{
        float: left;
        width: 120px;
        background: #cccccc;
        text-align: center;
        line-height: 28px;
        font-size: 14px;
        padding: 0px 10px !important;
        margin-left: 1px !important;
        margin-bottom: 2px !important;
    }
    .category-father{
        position: relative;
    }
    .category-items{
        position: absolute;
        top: 6px;
        left: 34px;
        cursor: pointer;
        display: none;
    }
    .category-items li:hover{
        background: black;
        color: #ffffff;
    }
</style>
<div class="fh5co-loader"></div>
<div id="page">
    <div id="fh5co-aside" style="background-image: url(/static/frontend/images/background-image.jpg)">
        <div class="overlay"></div>
        <nav role="navigation">
            <ul class="nav-list">
                <li class="first"><a href="index.html"><i class="icon-home"></i></a></li>
                <li class="first category-father">
                    <a id="category-btn" data-value="1" href="javascript:;"><i class="icon-ribbon"></i></a>
                    <ul class="category-items">
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="featured">
            <span>Hi~</span>
            <h2>I'm Cookie Cat</a></h2>
        </div>
    </div>
    <div id="fh5co-main-content">
        <div class="fh5co-post">
            <div class="fh5co-entry padding">
                <div>
                    <span class="fh5co-post-date">2019/01/01 00:00:00</span>
                    <h2><a href="/frontend/detail">Mysql is Better!</a></h2>
                    <p>How two simple exercises changed my life</p>
                </div>
            </div>
            <div class="fh5co-entry padding">
                <div>
                    <span class="fh5co-post-date">2019/01/01 00:00:00</span>
                    <h2><a href="/frontend/detail">Mysql is Better!</a></h2>
                    <p>How two simple exercises changed my life</p>
                </div>
            </div>


            <footer style="padding: 0px !important;">
                <a href="" class="read-more">
                    点击查看更多
                </a>
            </footer>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
<script>
    $(function(){

        $.ajax({
            url: "/category",
            method: "get",
            success: function (json) {
                if(json.Code == 200){
                    for(var key in json.Data){
                        var html = "<li data-value='"+json.Data[key]['Id']+"'>"+json.Data[key]['Name']+"</li>"
                        $('.category-items').append(html)
                    }
                }
            }
        });
        
        $('#category-btn').on('click',function(){
            if($(this).attr('data-value') == 1){
                $(this).attr("data-value",0)
                $('.category-items').css("display","block");
                $('#category-btn').css({color: "#000",
                    background: "white"})
            }else{
                $(this).attr("data-value",1)
                $('.category-items').css("display","none");
                $('#category-btn').css({background: "rgba(255, 255, 255, 0.1)",color:"rgba(255, 255, 255, 0.5)"})
            }
        })
    })

</script>